* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    height: 70px;
    margin-bottom: 10px;
    color: white;
    padding: 20px 30px 20px;
    text-shadow: 2px 2px 4px black;
    display: flex;
    background-image: linear-gradient(to right, cyan, blue);
    
}

form{
    flex-direction: column;
    padding: 10px 20px 10px 10px;
    display:flex;
    margin-right: 10px;
}

main{
    display: flex;
}

#search-bar {
    color: white;
    margin-top: 10px;
    line-height: 25px;
    border-radius: 10px;
    background-color: darkblue;
    font-size: 15px;
}

.weather-container {
    border: 2px;
    width: 100%;
    box-sizing: border-box;
}

.forecast {
    display: flex;
    justify-content:space-around;
}

.card-forecast {
    display: block;
    padding: 10px;
    background-color: rgb(165, 212, 226);
    border-radius: 5px;
    color:white;
    text-shadow: 2px 2px 4px black;

}
